@font-face {
  font-family: "UTMHanzel";
  src: url(../font/UTMHanzel.ttf) format("truetype");
}

@font-face {
  font-family: "UTMCafeta";
  src: url(../font/UTMCafeta.ttf) format("truetype");
}

:root {
  --primary: #1e217e;
  --secondary: #ff9e43;
  --error: #f44336;
  --bg-default: #fafafa;
  --bg-paper: #fff;
  --text-body: rgba(0, 0, 0, 0.87);
  --text-muted: rgba(0, 0, 0, 0.54);
  --text-hint: rgba(0, 0, 0, 0.38);
  --orangy-yellow: #fff114;
  --white: #ffffff;
  --text-blue: #0011a2;
  --text-black: #000000;
  --bg-blue: #1377d3;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Header */

.eastar__header {
  height: 150px;
  background-image: url(../img/background-header.svg);
}

.eastar__header > .container-fluid {
  height: 100%;
  position: relative;
}

.eastar__header--sticky {
  position: absolute;
}

.eastar__header--sticky .logo {
  position: relative;
  top: 15px;
  left: 20px;
  width: 462px;
  z-index: 99;
}

.logo img {
  width: 100%;
  height: 100%;
}

.eastar__header--icon-Menu {
  display: none;
}

.eastar__header--nav {
  list-style-type: none;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 1212px;
  margin: 0 auto;
  padding-left: 38px;
}

.eastar__header--nav li {
  display: inline-block;
  z-index: 999;
}

.eastar__header--nav li a {
  text-transform: uppercase;
  color: var(--text-black);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  line-height: 42px;
  display: inline-block;
}

.eastar__header--media {
  position: absolute;
  top: 33px;
  right: 199px;
  display: flex;
  width: 166.5px;
  justify-content: space-between;
}

.eastar__header--media a > div {
  display: flex;
  width: 31px;
  height: 31px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-blue);
  border-radius: 12px;
}

.eastar__header--media a > div > i {
  font-size: 20px;
  color: var(--text-blue);
}

.eastar__header--lang {
  position: absolute;
  top: 33px;
  right: 62px;
  display: flex;
  width: 109.5px;
  justify-content: space-between;
}

.eastar__header--lang .lang--select {
  border: 0;
  letter-spacing: -1.5px;
  color: var(--text-blue);
  outline: none;
}

/* End Header */

/* Main */
.eastar_main {
  padding-bottom: 78px;
}

.main__about {
  background: url(../img/about-background.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__about .title--one {
  font-family: "UTMHanzel", sans-serif;
  font-weight: 400;
  font-size: 31px;
  line-height: 44px;
  text-align: center;
  color: var(--primary);
  margin: 35px 0 10px;
  padding: 24.5px 0 20px 0;
  letter-spacing: -0.6px;
}

.main__about .title--two {
  text-transform: uppercase;
  font-family: "UTMCafeta";
  display: inline-block;
  padding: 51px 0 24px 0;
  font-size: 36px;
  letter-spacing: -0.1px;
  position: relative;
  margin-bottom: 20px;
}

.main__about .title--two::after {
  content: "";
  position: absolute;
  width: 65%;
  bottom: 0;
  left: 14%;
  height: 5px;
  background-color: var(--orangy-yellow);
}

.main__container {
  display: flex;
  flex-direction: column;
  width: 1212px;
  margin: 0 auto;
}

.about__item {
  background: var(--bg-paper);
  padding: 20px;
  height: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.about__item .about__item--top {
  display: flex;
}

.about__item--top .about__item--title {
  font-weight: 700;
  font-size: 16px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--text-blue);
  margin-left: 10px;
  letter-spacing: -0.1px;
}

.about__item .about__item--content {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-black);
  text-align: justify;
  border-top: 4px solid var(--orangy-yellow);
  margin: 11px -4px 0px 3px;
  padding: 14px 0px 14px 0px;
  letter-spacing: -0.09px;
}

.about__item--top .about__item--icon {
  margin: -1.5px 3px;
}

.about__bot--content {
  font-weight: 500;
  font-size: 15px;
  text-align: justify;
  color: var(--text-black);
  padding-left: 55px !important;
  letter-spacing: -0.07px;
  line-height: 1.25;
  margin-top: 19px;
}

.about__bot--vid {
  position: relative;
  width: 100%;
  max-height: 550px;
  overflow: hidden;
}

.about__bot--vid .vid--title {
  width: 100%;
  height: 100%;
}

.about__bot--vid .vid--btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 110px;
  height: 110px;
}

.mb-36 {
  margin-bottom: 36px;
}

.modal__dialog--vid iframe {
  height: 300px;
  width: 100%;
}

/* Vision Misson */
.main__vision--misson {
  background: url(../img/bg-vision-mission.png), var(--bg-blue);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  position: relative;
  color: var(--white);
  padding: 25px 0;
}

.vision__misson {
  max-width: 370px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.vision__misson .vision--title,
.vision__misson .misson--title {
  font-family: "UTMCafeta";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: var(--orangy-yellow);
  margin-top: 13px;
}

.vision__misson .vision--content,
.vision__misson .misson--content {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: justify;
  font-size: 16px;
  height: 220px;
  padding: 15px 16px 36px;
  border-radius: 0 0 8px 8px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.44px;
  font-family: Roboto;
  font-style: normal;
}

.vision__misson > img {
  width: 60px;
  height: 60px;
}

.content--devece {
  width: 100%;
  height: 5px;
  background-color: var(--orangy-yellow);
}

.mt-24 {
  margin-top: -24px;
}

/* Certificate our team */
.certificate_our_team {
  background-image: url(../img/bg-frame.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}

.certificate {
  position: relative;
  padding-top: 50px;
  padding-bottom: 17px;
}

.certificate h2,
.team h2,
.table__fleet h2 {
  font-family: "UTMCafeta";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: var(--text-blue);
  margin: 24px 0;
  padding-bottom: 24px;
  position: relative;
  display: inline-block;
}

.certificate h2::after,
.team h2::after,
.table__fleet h2::after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 25%;
  height: 5px;
  background-color: var(--orangy-yellow);
}

.table__fleet h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 123.5%;
}

.pt-26 {
  padding-top: 26px;
}

.team {
  padding: 13px 0;
}

.team p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.44px;
  margin: 20px 0 30px;
}

.team__member1 {
  display: flex;
  width: 723px;
  margin-top: 50px;
  position: relative;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0 5px 19px rgba(0, 0, 0, 0.07);
}

.team__member1 .member1--img {
  position: absolute;
  height: 267.0750427246094px;
  width: 214.0882110595703px;
  left: 19px;
  bottom: 0;
  border-radius: 0;
}

.team__member1 .member1--info {
  position: relative;
  margin-top: 40px;
  left: 255px;
  width: 60%;
  padding: 10px;
}

.member1--info .member1--info-main {
  position: relative;
  display: inline-block;
}

.member1--info .member1--info-main h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-blue);
  text-transform: uppercase;
}

.member1--info .member1--info-main p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: var(--text-black);
  font-family: Roboto, sans-serif;
  letter-spacing: 0;
  text-align: left;
  margin: 10px 0;
}

.member1--info .member1--info-main::after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0;
  height: 0;
  left: 0;
  height: 5px;
  background-color: var(--orangy-yellow);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.member1--info .member1--info-caption {
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: var(--text-black);
  letter-spacing: 0px;
  margin: 15.5px 0;
}

.member2--info .member2--info-main {
  position: relative;
  display: inline-block;
}

.member2--info .member2--info-main h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-blue);
  text-transform: uppercase;
}

.member2--info .member2--info-main p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: var(--text-black);
  font-family: Roboto, sans-serif;
  letter-spacing: 0;
  text-align: left;
  margin: 10px 0;
}

.member2--info .member2--info-main::after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0;
  height: 0;
  left: 0;
  height: 5px;
  background-color: var(--orangy-yellow);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.member2--info .member2--info-caption {
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: var(--text-black);
  margin: 17px 0;
  letter-spacing: 0;
}

.team__member2 {
  display: flex;
  width: 723px;
  float: right;
  margin-top: 90px;
  position: relative;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0 5px 19px rgba(0, 0, 0, 0.07);
  margin-bottom: 45px;
}

.team__member2 .member2--img {
  position: absolute;
  height: 282.9999694824219px;
  width: 226.8536834716797px;
  right: 0;
  bottom: 0;
  border-radius: 0;
}

.member2--info {
  position: relative;
  margin-top: 40px;
  left: 45px;
  width: 60%;
  padding: 10px 0;
}

.our_team__member1 {
  box-shadow: 0 5px 19px rgba(0, 0, 0, 0.07);
  display: flex;
  position: relative;
  background-color: var(--white);
  border-radius: 8px;
  margin-top: 10px;
}

.our_team__member1--img {
  transform: scale(0.9) translate(-10px, 15px);
  height: 288px;
}

.our_team__member1--info .our_team__member1--title {
  position: absolute;
  width: 55%;
  right: 30px;
  top: 50px;
}

.our_team__member1--info .our_team__member1--title h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-blue);
}

.our_team__member1--info .our_team__member1--title p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: var(--text-black);
  margin: 9px 0 11px 0;
  text-align: left;
  letter-spacing: 0;
}

.our_team__member1--info .our_team__member1--des {
  position: absolute;
  width: 50%;
  right: 20px;
  top: 45%;
  font-size: 16px;
  text-align: justify;
  font-weight: 100;
  letter-spacing: 0;
}

.our_team__member1--info .our_team__member1--title::after {
  content: "";
  height: 5px;
  bottom: 0;
  display: block;
  left: 0;
  width: 50%;
  background-color: var(--orangy-yellow);
}

.our_team__member1--info .our_team__member1--des {
  position: absolute;
  width: 50%;
  right: 20px;
  top: 45%;
  font-size: 16px;
}

.our_team__member2 {
  box-shadow: 0 5px 19px rgba(0, 0, 0, 0.07);
  display: block;
  position: relative;
  background-color: var(--white);
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  min-height: 200px;
  margin-top: 20px;
  height: 100%;
}

.our_team__member2 .our_team__member2--title {
  position: relative;
  display: inline-block;
}

.our_team__member2 .our_team__member2--title h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-blue);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.our_team__member2 .our_team__member2--title::after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0;
  height: 0;
  left: 0;
  height: 5px;
  background-color: var(--orangy-yellow);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.our_team__member2 .our_team__member2--des {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: justify;
  letter-spacing: 0;
  margin: 20px 0 30px;
}

.main__infomation {
  padding-top: 38px;
  margin-top: 96px;
  border-top: 1px solid #1b03f0;
}

.main__infomation .item__infomation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item__infomation .infomation__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: var(--text-black);
  text-align: center;
}

.item__infomation .infomation__description {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--text-black);
  margin: 20px 0;
}

.main__our--activities {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 30px 0;
  position: relative;
  width: auto;
  background-image: url(../img/training-center-dashboard.png);
}

.main__our--activities h2 {
  font-family: "UTMCafeta";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: var(--white);
  margin: 24px 0;
  padding-bottom: 24px;
  position: relative;
  display: inline-block;
}

.main__our--activities h2::after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 25%;
  height: 5px;
  background-color: var(--orangy-yellow);
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 30px;
  margin-bottom: 0;
  align-items: center;
  justify-content: flex-start;
}

.breadcrumbs ul li {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 400;
  margin-left: 2px;
  padding: 2px;
  color: #0011a2 !important;
}

.breadcrumbs ul li > a {
  color: #0011a2 !important;
}

.breadcrumbs .arrow {
  color: #0011a2 !important;
  font-size: 12px;
}

.border_hr {
  border: none;
  height: 2px;
  margin: 10px 0 0 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.service__title {
  margin-top: 30px;
  width: 100%;
  height: 385px;
  background: linear-gradient(
      270deg,
      #003668,
      rgba(55, 104, 150, 0.356044) 85.2%,
      rgba(19, 119, 211, 0) 100%,
      rgba(19, 119, 211, 0) 0
    ),
    url(../img/bg_header.png);
}

.service__title--content {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 93px 24px 94px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: justify;
  color: var(--white);
}

.service__item--background {
  background: url(../img/background.png);
}

.service__item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.service__item__content {
  position: relative;
  margin-left: 8.5%;
}

.service__item--rank {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 240px;
  line-height: 240px;
  color: #000;
  opacity: 0.3;
  left: -11%;
  top: -175px;
}

.service__item__content--title {
  font-family: "UTMCafeta";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 82px;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.service__item__content--dis {
  font-family: Roboto;
  font-style: normal;
  margin: 27px 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1145px) {
  .service__item--rank {
    font-size: 220px;
    line-height: 220px;
    left: -11%;
    top: -163px;
  }

  .service__item__content--title {
    font-size: 48px;
    line-height: 70px;
  }

  .service__item__content--dis {
    margin: 10px 0 0;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 990px) {
  .service__item--rank {
    font-size: 140px;
    line-height: 140px;
    top: -103px;
  }

  .service__item__content--title {
    font-size: 36px;
    line-height: 48px;
  }

  .service__item__content--dis {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 576px) {
  .service__item {
    flex-direction: column;
    margin-top: 100px;
  }

  .service__item--rank {
    font-size: 100px;
    line-height: 100px;
    top: -72px;
  }

  .service__item__content--title {
    font-size: 24px;
    line-height: 36px;
  }

  .service__item__content--dis {
    font-size: 15px;
    line-height: 18px;
  }

  .flex-rev {
    flex-direction: column-reverse;
  }
}

.table__fleet--table {
  height: 550px;
  overflow: auto;
}

.table__fleet--table .row-1 > .column-1,
.table__fleet--table .row-1 > .column-3,
.table__fleet--table .row-1 > .column-5,
.table__fleet--table .row-1 > .column-7,
.table__fleet--table .row-1 > .column-9 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 14px;
  background-color: rgb(31, 48, 110);
  border: 1px solid rgb(219, 219, 219);
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.table__fleet--table .row-1 > .column-2,
.table__fleet--table .row-1 > .column-4,
.table__fleet--table .row-1 > .column-6,
.table__fleet--table .row-1 > .column-8 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 14px;
  background-color: rgba(31, 48, 110, 0.8);
  border: 1px solid rgb(219, 219, 219);
  box-sizing: border-box;
  width: calc(129.111px);
  text-align: center;
  vertical-align: middle;
}

.table__fleet--table td.column-1,
.table__fleet--table td.column-3,
.table__fleet--table td.column-5,
.table__fleet--table td.column-7,
.table__fleet--table td.column-9 {
  color: inherit;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
  text-align: center;
  vertical-align: middle;
}

.table__fleet--table td.column-2,
.table__fleet--table td.column-4,
.table__fleet--table td.column-6,
.table__fleet--table td.column-8 {
  color: inherit;
  width: calc(129.111px);
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(244, 244, 244);
  text-align: center;
  vertical-align: middle;
}

.table__fleet--table .row-1 > .column-1 {
  min-width: 80px;
}

.table__fleet--table .row-1 > .column-2 {
  min-width: 160px;
}

.table__fleet--table .row-1 > .column-3,
.table__fleet--table .row-1 > .column-6,
.table__fleet--table .row-1 > .column-7,
.table__fleet--table .row-1 > .column-9 {
  min-width: 140px;
}

.table__fleet--table .row-1 > .column-8 {
  min-width: 150px;
}

.table__fleet--table .row-1 > .column-4,
.table__fleet--table .row-1 > .column-5 {
  min-width: 106px;
}

.contact__detail {
  padding-top: 30px;
}

.contact__detail p {
  margin: 0;
  font-size: 13px;
  color: var(--text-body);
}

.text-red {
  color: red !important;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 10px;
}

.w-98 {
  width: 98%;
}

.form-group:last-child {
  margin-right: 0;
}

.form-group label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.wpcf7-list-item {
  display: block;
  margin: 0;
}

.contact__btn {
  padding: 6px 16px;
  font-size: 14px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: none;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06),
    0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
  border-radius: 4px !important;
  background-color: var(--bg-blue) !important;
  border: 1px solid var(--bg-blue) !important;
  color: var(--white) !important;
}

.wpcf7 form .wpcf7-response-output {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }

  .w-98 {
    width: 100%;
  }
}

.news h2,
.event h2,
.news__single h2 {
  font-family: "UTMCafeta";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: var(--text-blue);
  margin: 24px 0;
  padding: 30px 20px 24px 25px;
  position: relative;
  display: inline-block;
}

.news h2::after,
.event h2::after,
.news__single h2::after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 25%;
  height: 5px;
  background-color: var(--orangy-yellow);
}

.new__container {
  width: 100%;
  overflow: hidden;
}

.new__page {
  display: flex;
  min-width: 100%;
  transition: transform 0.5s ease;
  justify-content: space-between;
}

.new__page--item {
  width: 100%;
  flex: 0 0 auto;
  border: 1px solid var(--text-blue);
  border-radius: 8px;
  box-sizing: border-box;
  background: #f0f5ff;
  margin: 7px 0;
}

.new__page--item .new__page--img {
  height: 275px;
}

.new__page--item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.new__page--item .new__page--detail {
  padding: 15px;
  border-top: 5px solid var(--orangy-yellow);
  background-color: #f0f5ff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.new__page--item .new__page--detail h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--text-blue);
  height: 16px;
  overflow: hidden;
  height: 23px;
  line-height: 23px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.new__page--item .new__page--detail .detail--content {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.new__page--item .new__page--detail p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: var(--text-black);
}

.d-none {
  display: none;
}

.news__paginate ul {
  display: flex;
  list-style: none;
  margin: 15px auto;
  padding: 0;
  width: 250px;
  justify-content: center;
}

.news__paginate ul span {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.news__paginate ul a:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.news__paginate ul span,
.news__paginate ul a {
  font-size: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: #fff;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  height: 32px;
  margin: 0 3px;
  padding: 2px 8px;
  font-size: 1rem;
  min-width: 32px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 16px;
  letter-spacing: 0.01071em;
}

.new__page--item a {
  border-radius: 5px;
}

.news__single p {
  text-align: justify;
  font-size: 18px;
}

.training__header {
  background: url(../img/training-bg.png) center top / cover no-repeat;
  height: 420px;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 1020px) {
  .training__header > div {
    font-size: 48px !important;
  }

  .training__title > div {
    font-size: 16px !important;
  }
}

.training__header > div {
  font-size: 64px;
  margin: auto;
  color: var(--orangy-yellow);
  line-height: 75px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-shadow: 0 2px 2px #000;
  text-align: center;
  padding: 0 10px;
}

.training__title {
  width: 100%;
  background: linear-gradient(
      270deg,
      #003668,
      rgba(55, 104, 150, 0.356044) 85.2%,
      rgba(19, 119, 211, 0) 100%,
      rgba(19, 119, 211, 0) 0
    ),
    url(../img/bg_header.png);
  margin-top: 30px;
}

.training__title > div {
  max-width: 1280px;
  margin: 0 auto;
  padding: 44.5px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;
  color: var(--white);
}

/* End Main */

/* Footer */
.eastar__footer {
  background-image: url(../img/footer-bg.png);
  padding: 30px;
}

.container {
  max-width: 100% !important;
  padding: 0 !important;
}

.eastar__footer--top,
.eastar__footer--bot {
  margin: 0 auto;
  width: 1212px;
}

.eastar__footer--logo {
  width: 469px;
  height: 120px;
}

.eastar__footer--logo img {
  width: 100%;
  height: 100%;
}

.eastar__footer--bot {
  font-size: 12px;
  text-decoration: none;
}

.eastar__footer--bot a {
  color: inherit;
}

.eastar__footer--center .item,
.eastar__footer--right .item {
  display: flex;
  margin-bottom: 16px;
}

.eastar__footer--center .item--icon i,
.eastar__footer--right .item--icon i {
  font-size: 20px;
  color: var(--text-blue);
  width: 30px;
}

.eastar__footer--center .item--content,
.eastar__footer--right .item--content {
  font-size: 15px;
  font-weight: bold;
}

.eastar__footer--center .item--content span {
  font-weight: 400;
}

.eastar__footer--right .item--content span {
  font-weight: 400;
  display: block;
  text-align: justify;
}

.eastar__footer--center .item--content .item--detail {
  color: var(--bg-blue);
  display: block;
  text-decoration: underline;
}

.eastar__footer--center .item--content a {
  color: inherit;
  text-decoration: underline;
  font-weight: 400;
}
/* End Footer */

@media only screen and (min-width: 1280px) {
  .container {
    max-width: auto !important;
    padding: 0 !important;
  }

  .eastar__header--nav li:hover {
    position: relative;
  }

  .eastar__header--nav li:hover a {
    color: var(--text-blue) !important;
  }

  .eastar__header--nav li:hover ::after {
    content: "";
    height: 3px;
    background-color: var(--text-blue);
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  .active {
    position: relative;
  }

  .active a {
    color: var(--text-blue) !important;
  }

  .active::after {
    content: "";
    height: 3px;
    background-color: var(--text-blue);
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 1280px) {
  .eastar__header {
    position: relative;
  }

  .eastar__header--icon-Menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 26px;
  }

  .eastar__header--icon-Menu i {
    font-size: 30px;
  }

  .eastar__header .container-fluid {
    background: var(--bg-blue);
    width: 70%;
    position: absolute;
    top: 0;
    right: -100%;
    height: 574px;
    z-index: 999;
    padding: 50px 30px 75px 30px;
    transition: right 1s ease-out;
  }

  .header__ball {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.38);
    display: none;
    z-index: 998;
  }

  .eastar__header--nav {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .eastar__header--nav li a {
    color: #ffffff;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
  }

  .eastar__header--lang {
    top: 10px;
    right: 30px;
    width: 120px;
  }

  .eastar__header--lang .lang--select {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 60px;
    background: var(--bg-blue);
    color: #ffffff;
    padding: 0 4px;
  }

  .eastar__header--media {
    top: auto;
    bottom: 20px;
    left: 30px;
  }

  .eastar__header--media a > div {
    border: 1px solid #ffffff;
  }

  .eastar__header--media a > div i {
    color: #fff;
  }

  .eastar__footer--top,
  .eastar__footer--bot {
    width: auto;
  }

  .main__container {
    width: 95%;
  }
}

@media only screen and (max-width: 960px) {
  .eastar__header {
    height: 100px;
  }

  .eastar__header--sticky .logo {
    width: 289px;
  }

  .eastar__footer--logo {
    width: 294px;
    height: 75px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 98% !important;
    padding: 0 !important;
  }

  .mySwiper {
    max-width: 98% !important;
  }

  .about__bot--content {
    padding-left: calc(var(--bs-gutter-x) * 0.25) !important;
  }
}

@media only screen and (max-width: 785px) {
  .team__member1,
  .team__member2 {
    width: 100%;
  }
}

@media only screen and (max-width: 740px) {
  .team__member1 .member1--info,
  .team__member2 .member2--info {
    width: 50%;
  }
}

@media only screen and (max-width: 860px) {
  .item__infomation .infomation__title {
    font-size: 28px;
  }

  .item__infomation .infomation__description {
    font-size: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .container,
  .mySwiper {
    max-width: 95% !important;
  }

  .team__member1 .member1--img {
    left: -20px;
  }

  .team__member2 .member2--img {
    right: -20px;
  }

  .team__member1 .member1--info {
    left: 195px;
  }

  .team__member2 .member2--info {
    left: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .team__member1 .member1--img,
  .team__member2 .member2--img {
    width: auto;
    height: 250px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15px;
  }

  .team__member1 .member1--info,
  .team__member2 .member2--info {
    width: 100%;
    left: 0;
    padding-top: 250px;
  }

  .member1--info .member1--info-main,
  .member2--info .member2--info-main {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .member1--info .member1--info-main::after,
  .member2--info .member2--info-main::after {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .member1--info .member1--info-main p,
  .member1--info .member1--info-main h5,
  .member2--info .member2--info-main p,
  .member2--info .member2--info-main h5 {
    text-align: center;
  }

  .team__member2 .member2--info {
    padding: 250px 10px 10px;
  }

  .team__member1,
  .team__member2 {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.ovfl-hi {
  overflow: hidden;
}

.addClassRight {
  right: 0 !important;
}

.row > * {
  padding-right: calc(var(--bs-gutter-x) * 0.25);
  padding-left: calc(var(--bs-gutter-x) * 0.25);
}

img {
  width: 100%;
  height: 100%;
}

.text-justify {
  text-align: justify;
}

/* Custom scroll */
/* Tùy chỉnh cho thanh cuộn dọc */
::-webkit-scrollbar {
  width: 5px; /* Độ rộng của thanh cuộn */
}

/* Track của thanh cuộn */
::-webkit-scrollbar-track {
  background: #d4d4d4; /* Màu nền */
}

/* Handle của thanh cuộn */
::-webkit-scrollbar-thumb {
  background: #007db3; /* Màu của thanh cuộn */
}

/* Handle của thanh cuộn khi hover */
::-webkit-scrollbar-thumb:hover {
  background: #007db3; /* Màu của thanh cuộn khi hover */
}
